.str-chat {
  height: 100%;
}

.str-chat__date-separator {
  padding: 15px 18px;
}

.str-chat__message-livestream {
  padding: 6px 6px;
}

.str-chat__message-livestream-left {
  padding-top: 6px;
}

.str-chat__message-livestream-content {
  padding: 0 10px;
}

.str-chat__message-livestream-author {
  margin-bottom: 0;
}
